@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}


.Home{
  background-color: #f1f1f1; /*is going to change*/
  margin: 0 auto;
  height: 90vh;
}
header{
  height: 80px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputQues input{
  background-color: transparent; 
  color: black;
  font-size: 1.1rem;
  border: 2px solid black;
  font-family: "Montserrat", sans-serif;
}
.inputQues button{
  background-color: transparent;
  border:  2px solid black;
  color: black;
}

.logo{
  height: 70px;
  padding: 10px;
  width: 95%;
  align-items: center;
  
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.logo a h1{
  margin-left: 30px;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  
}

.logo .AuthOption{
  margin-right: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
}

.logo .otherOption{
  margin-right: 20px;
  width: 230px;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
}

.logo .otherOption button{
  width: 70px;
  border-radius: 5px;
  font-size: 0.9rem;
  background: transparent;
  cursor: pointer;
  height: 30px;
  border: 1px solid black;
}

.logo a{
  color: black;
  text-decoration:  none;
  font-size: 1.3rem;

}

.greeting{
  padding-top: 20px;
  height: 75vh;
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting img{
  width: 80px;
  height: 80px;
  margin-right: 25px;
  border-radius: 50px;
}
.main-area{
  padding-top: 20px;
  height: 75vh;
  overflow-y: auto;
}
.intraction{
  width:60%;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  
}
.intraction p{
  overflow-wrap: break-word;
}
.intraction .user{
  display:  flex;
  font-size: 1.1rem;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.intraction .user img{
  width: 50px;
  height: 50px;
  margin-right: 20px
  
}

.intraction .bot{
  display:  flex;
  
  font-size: 1rem;
  
  margin-bottom: 5px;
  padding: 10px;
}

.intraction .bot img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 20px
}

.intraction .bot h3{
  margin-bottom: 5px;
}

.inputQues{
  width: 65%;
  height: 90px;
 
  padding: 20px;
  display: flex;
  align-items: center;
 
  margin:  0 auto;
  justify-content: space-evenly;
  
  border-radius: 20px;
}

.inputQues input {
  width: 85%;
  
  margin-top: 5px;
  height: 50px;
  border-radius: 5px;
  padding-left: 10px;

}

.inputQues button{
  width: 60px;
  border-radius: 10px;
  height: 50px;
  
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  margin-left: 30px;
  background-color: #111;
  width: 79px; /* Increased width for better visibility on a laptop */
  margin-right: 30px;
  height: 39px; /* Increased height for better visibility on a laptop */
  border-radius: 50px;
  position: relative;
  padding: 8px; /* Increased padding for better spacing */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 32px; /* Increased width for a larger ball */
  height: 32px; /* Increased height for a larger ball */
  position: absolute;
  left: 4px; /* Adjusted position for a larger ball */
  top: 4px; /* Adjusted position for a larger ball */
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(40px); /* Adjusted transform value for a larger toggle movement */
}


/******************************************/
.signuppage{margin-top: 0;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-purple-beautiful-romantic-cool-fresh-banner-background-image_156587.jpg);
 display: flex;
 justify-content: center;
 align-items: center;
  background-size: cover;
  height: 90vh;
}

.signup form a{
     color: white;
}
.signup form{
    width: 500px;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
}
.signup form h1{
    margin-top: 30px;
    margin-bottom: 10px;
}
.signup form input{
    width: 80%;
    margin-top: 15px;
    padding-left: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 10px;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  flex: 1;
  padding: 0 1em;
  background-color: #eee;
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 160px;
  height: 55px;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 5.1px;
  background-color: rgb(233, 65, 233);
  transition: .25s all ease;
  pointer-events: none;
}


.signup form .gender{
    width: 500px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
}

.signup form .gender label {

    font-size: 1.2rem;
    margin-left: 50px;
    margin-right: 50px;
}

.signup form .gender select{
    width: 185px;
    padding-left: 10px;
    height: 30px;
}

.signup form button{
    height: 40px;
    width: 200px;
    margin-top: 15px;
    border-radius: 10px;
}

.signup form h3{
    margin-bottom: 10px;
    margin-top: 10px;
}

.loginpage{
  margin-top: 0;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-purple-beautiful-romantic-cool-fresh-banner-background-image_156587.jpg);
 display: flex;
 justify-content: center;
 align-items: center;
  background-size: cover;
  height: 90vh;
}
.login form{
  font-family: "Montserrat", sans-serif;
    width: 500px;
    margin: 0 auto;
    align-items: center;
    height: 450px;
    color: white;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
}
.login form h1{
    margin-top: 40px;
    margin-bottom: 10px;
}
.login form input{
    width: 80%;
    margin-top: 15px;
    padding-left: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    height: 50px;
    border-radius: 10px;
}

.login form button{
    height: 40px;
    width: 200px;
    margin-top: 15px;
    border-radius: 10px;
}

.login form h3{
    margin-bottom: 20px;
    margin-top: 20px;
}
.login form a{
  
  color: white;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 


footer{
  height:100px;
  background-color: black;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
 }
 .foot-head{
  padding-left: 30px;
  color: white;
  background-color: black;
  padding-top: 5px;
 }
 .foot-head a{
  color: white;
 }

 footer .copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: white;
  background-color: black;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
 }

 footer .copyright a{
  color: white;
 }


 .footer-sidebar{
  height: 70px;
  width: 300px;
  display: flex;
  padding: 3px;
  background: transparent;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
  
}

.iconn{
  height: 50px;
  width: 95%;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  
}

.iconn a{
  color: black;
}



